altair==4.2.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
numpy==1.22.1
pandas==1.4.0
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
pickleshare==0.7.5
requests==2.27.1
scikit-learn==1.0.2
scipy==1.7.3
Send2Trash==1.8.0
six==1.16.0
smmap==5.0.0
stack-data==0.1.4
streamlit==1.4.0
urllib3==1.26.8
webencodings==0.5.1
